#about-us-cards{
    padding-left: 10%;
    padding-right: 10%;
}

#main-about .col-sm-3,#main-about .col-md-9,#main-about .col-lg-3{
    text-align: center;
    margin: auto;
}

.about-us-card-image{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    top: 75px;
    box-shadow: 0 0 5px #000
}

#about .card-title{
    padding-top: 75px;
    margin-bottom: auto;
}

#about card{
    min-width: 1000px;
}

#about h1{
    color: #707070;
    font-weight: 300;
    letter-spacing: 10px;
    margin-top: 7%;
    margin-left: 13%;
    border-bottom: 5px solid #707070;
    width: 285px;

}

#about section.how-we-met h2{
    color: #707070;
    font-weight: 300;
    letter-spacing: 10px;
    margin-top: 7%;
    margin-left: 13%;
    border-bottom: 5px solid #707070;
    width: 500px;
}

#about .how-we-met-content{
    width: 80%;
    margin: auto;
}


#about .how-we-met-image{
    width: 40%;
    margin: auto;
}

.about-us-min-height{
    min-height: 200px;
}