footer{
    height: 100%;
    padding-top: 20px;
}
footer li{
    list-style-type: none;
}

footer.page-footer{
    color: black;
}
footer.page-footer a{
    color: black;
}

.connect ul li{
    text-transform: uppercase;
}

form#frmSignUp{
    float: right;
}

.footer article.sign-up p{
    float: left;
}

.divFooter{
    clear: both;
}


.socialmedia1{
    display: inline;
}

.footer-social-icons{
    margin-bottom: 20px;
    right: 20px;
}

/*@media screen and (max-width:1600px){
    .connect .fa{
        padding: 4%;
        width: 25%;
    }
}
    
@media screen and (max-width:1200px ){
    .connect .fa{
        padding: 4%;
        font-size: 1.2em;
        width: 25%;
    }
}

@media screen and (max-width:1140px){
    .connect .fa{
        padding: 15%;
        display: block;
        font-size: 1em;
        width: 50%;
    }
}

@media screen and (max-width:800px){
    .connect .fa{
        padding: 25%;
        display: block;
        font-size: 1em;
        width: 80%;
    }
}*/