.services h1 {
    font-size: 3.2rem;
    font-weight: bold;
}
.services {
    width: 1040px;
    max-width: 100%;
    margin: 2% auto;
}
.content-table a {
    color: #fff!important;
}
thead th #services-table-header{
    background-color: #212529;

}
.buildingYourPresence {
    width: 1040px;
    max-width: 100%;
    margin: 5% auto;
}
.seoEducationPackage {
    margin: 5% auto;
}
.maintenancePlanDiv {
    margin: 5% auto;
}
.educationPackage {
    width: 1040px;
    max-width: 100%;
    margin: 5% auto;
}
.hostingPlans {
    width: 1040px;
    max-width: 100%;
    margin: 5% auto;
}
.webDesignAndDevelopment {
    width: 1040px;
    max-width: 100%;
    margin: 5% auto;
}

td {
    text-align: center;
}
tr td {
    font-weight: bold;
}
.hostingPlans h2 {
    text-align: center;
}
.maintenancePlan {
    width: 1040px;
    max-width: 100%;
    margin: 5% auto;
}
.maintainImage img {
    border-radius: 2px;
    box-shadow: 1px 1px 8px #000;
}

th {
    text-align: center;
}
ul.fa-ul {
    margin: 5%;
}
p {
    font-size: 1.2rem;
}
table thead tr th a:hover {
    border-bottom: 2px solid #8165E5;
}
.educationPackage .col-md-6.seoVideoClass
 {
    padding-left: 0px;
}
.hostingPlans .container {
    padding-left: 0px;
}
.hostingPlans .col-md-8 {
    padding-left: 0px;
}
.maintenancePlan .col-md-6.maintenancePlanDiv {
    padding-left: 0px;
}
.col-md-12.buildingYourPresence {
    padding-left: 0px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .buildingYourPresence {
        text-align: center;
        padding: 3%;
    }
    .seoEducationPackage {
        text-align: center;
        padding-top: 4%;
    }
    .col-md-6.seoVideoClass {
        padding-top: 4%;
    }
    .webDesignAndDevelopment {
        width: 100%;
        text-align: center;
        padding: 2%;
    }
    .hostingPlans h2 {
        padding-top: 3%;
    }
    ul.fa-ul {
        margin: 5%;
    }
    .maintenancePlan {
        width: 100%;
        text-align: center;
        padding: 4%;
        margin: 0;
    }
    .servicesTable {
        padding-top: 6%;
        overflow-x:hidden;
    }
    th a {
        font-size: 11px;
    }
  }
  
  @media (min-width: 320px) and (max-width: 380px) {
    table.table.table-bordered {
        margin-left: -18px;
    }
    .servicesTable table thead tr th a {
        font-size: 8px;
    }
	.educationPackage .col-md-6.seoVideoClass
	 {
		padding-left: 15px;
	}
	.maintenancePlan .col-md-6.maintenancePlanDiv {
		padding-left: 15px;
	}
	.col-md-12.buildingYourPresence {
		padding-left: 15px;
	}	
  }
  @media (min-width: 481px) and (max-width: 767px) {
    .card-body ul.fa-ul li {
        margin-left: 0%;
    }
		.educationPackage .col-md-6.seoVideoClass
	 {
		padding-left: 15px;
	}
	.hostingPlans .container {
		padding-left: 15px;
	}
	.hostingPlans .col-md-8 {
		padding-left: 15px;
	}
	.maintenancePlan .col-md-6.maintenancePlanDiv {
		padding-left: 15px;
	}
	.col-md-12.buildingYourPresence {
		padding-left: 15px;
	}
  }

/* Font Awesome Icon Styling */

